<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :player_name %>
  </div>

  <div class="field">
    <%= form.label :games_played %>
    <%= form.number_field :games_played, id: :player_games_played %>
  </div>

  <div class="field">
    <%= form.label :games_won %>
    <%= form.number_field :games_won, id: :player_games_won %>
  </div>

  <div class="field">
    <%= form.label :fouls_commited %>
    <%= form.number_field :fouls_commited, id: :player_fouls_commited %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
